*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url("./imagenes/pokemonmon.png");
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    background-size: cover; 
    background-color:aqua;
    font-family: 'Montserrat', sans-serif;
}
header{
    margin-bottom: 40px;
}
footer{
    display: flex;
    justify-content: center;
    margin-top: 30px; 
}
ul{
    list-style:none; 
}
p{
    font-weight: bold;
}
.redes-sociales{
    margin-left: 10px;
}
.logo-cabecera-pokemon{
    display: flex; 
    display: block;
    width: 360px;
    height: 160px;
    margin: auto; 
    margin-top: 15px;;
}
#siderbar{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    margin-top: -50px;
    width: 260px;
    height: 120%;
    background: rgba(222, 222, 228, 0.9);
    left: -260px;
    transition: all 500ms linear;
    border-radius: 10px;
}
#siderbar.active{
    left: 0;
}
#siderbar ul li{
    margin-top: 5px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    justify-content: center;
}
.toglee{
    position: absolute;
    left: 270px;
    top: -30px;
    cursor: pointer;
}
.menu{
    display: block;
    width: 40px;
    text-align: center;
    font-size: 40px;
    color: rgb(117, 113, 113);
}
.insertar-pokemones{
    display: flex;
    flex-wrap: wrap; 
}
.tarjeta-pokemon{
    background-color:rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 20px; 
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}
.tarjeta-pokemon:hover{
    transform: scale(1.1,1.1); 
    transition-duration: 300ms;
}
.imagen-pokemon{
    padding: 5px;
    margin-left: 50px;
}
.nombre-pokemon{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.numero-pokemon{
    text-align: center;
}
.btn-tipo{
    background: none;
    border: none;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;    
    font-weight: lighter;
    color: rgb(66, 65, 65);
}
.btn-tipo:hover{
    transform: scale(1.2,1.2);
    transition-timing-function: ease-out;
    transition-duration: 300ms;    
}
.btn{ 
    height: 45px;
    width: 45px;
    margin-left: 15px;
}
#mayor-frecuencia{
    background: none;
    border: none; 
}
.guia-tipos{
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;  
    margin-left: 5px;
}
.fomulario-nombre{
    display: flex;
    justify-content: center;
    align-items: center;
}
#nombre-pokemon{
   height: 20px;
}
/*INICIO FILTRO CANDYS*/
fieldset{
    padding: 8px;
    border-radius: 8px;
    font-size: 15px;
}
legend{
    color: #00719F;
    font-size: 15px;
    text-align: center;
}
select{
    width: 103px;
    font-family: 'Montserrat', sans-serif;
}
/*FIN FILTRO CANDYS*/

/*INICIO MODAL*/
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(75, 80, 82, 0.7);
}
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contenido-modal{
    position: relative;
    background-image: url(./imagenes/paipos.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(236, 225, 225, 0.3);
    margin: auto;
    width: 35%;
    border-radius:30px;
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal{
    from{top:-400px; opacity: 0;}
    to{top:0; opacity: 1;}
}
.cerrar{
    color: rgb(105, 98, 98);
    font-size: 60px;
    font-weight: bolder;
    margin: 8px;
    text-align: center;
    cursor: pointer;
}
.modal-open{
    display: block;
}
/*FIN MODAL*/

/*INICIO CUERPO MODAL*/
.modal-body{
    display: flex;
    flex-direction: column;
}
.modal-header{
    text-align: center;
    color: rgb(44, 42, 42);
    font-weight: bold;
    font-size: 18px;
}
.modal-header img{
    width: 150px;
    height: 150px;
}
.modal-header h3{
    color: white;
}
.modal-main{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.columna{
    padding: 5px;
    text-align: center;
}
.atributo-titulo{
    width: 120px;
    height: 25px;
    background-color:#00719F;
    border-radius: 10px;
    color: white;
    text-align: center;
    line-height: 23px;
    margin: auto;
    font-size: 15px;
}
.atributo-valor{
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
}
.modal-footer{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;    
}
.evolucion{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
/*FIN CUERPO MODAL*/

/*INICIO INFORMACION EVOLUCION*/
div.card-evolucion{
    margin: 10px;
    width: 180px;
    height: 200px;
    background-color: #79C9F9;
    overflow: hidden;
}
div.lado-front{
    width: 180px;
    height: 200px;
    background-image: url(./imagenes/Opcion1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color:rgba(236, 225, 225, 0.3);
    text-align: center;
    overflow: hidden;
    -webkit-transition: height .4s;
}
.lado-front p{
    color: crimson;
    font-size: 13px;
    margin-top: 8px;
    line-height: 17px;
}
img.imagen{
    display: block;
    margin: 25px auto;
    width: 100px;
    height: 100px;
    -webkit-transition: margin-top .4s;
}
div.lado-back{
    width: 180px;
    height: 0px;
    background-color: crimson;
    font-size: 13px;
    text-align: center;
    line-height: 17px;    
    color: white;
    overflow: hidden;
    -webkit-transition: height .4s;
}
div.card-evolucion:hover div.lado-front{
    height: 148px;
}
div.card-evolucion:hover div.lado-back{
    height: 52px;
}
div.card-evolucion:hover img.imagen{
    margin-top: 10px;
}
/*FIN INFORMACION EVOLUCION*/

/*MEDIA QUERYS*/
@media(max-width: 768px){
    .logo-cabecera-pokemon{
        width: 200px;
        height: 100px;        
    }
}
@media(max-width: 820px){
    .contenido-modal{
        width: 70%;
    }
    .modal-header img{
        width: 100px;
        height: 100px;
    }
    /*INICIO QUERY HEADER*/
    .modal-header{
        padding: 2px;
        font-size: 15px;
        color: red;
    }
    /*INICIO QUERY MAIN*/
    .atributo-titulo{
        width: 80px;
        height: 20px;
        font-size: 12px;
        line-height: 20px;
        border-radius: 7px;
    }
    .atributo-valor{
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
    }
    /*INICIO QUERY FOOTER*/
    div.card-evolucion{
        margin: 5px;
        width: 110px;
        height: 150px;
    }
    div.lado-front{
        width: 110px;
        height: 150px;
    }
    .lado-front p{
        font-size: 10px;
        margin-top: 8px;
        line-height: 13px;
    }
    .lado-front h5{
        font-size: 10px;
    }
    img.imagen{
        margin: 15px auto;
        width: 70px;
        height: 70px;
    }
    div.lado-back{
        font-size: 10px;        
        line-height: 11px;
        width: 110px;
        height: 0px;       
    }
    div.card-evolucion:hover div.lado-front{
        height: 115px;
    }    
}